@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    overflow-x: hidden;
    font-family: Raleway, sans-serif;

}

p.about {
    margin-left: 20px;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
p a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
p a:hover{
    color: red;
    text-decoration: underline;
}

/*Disclaimer*/
h5 {
    text-align: center;
    color: white;
    font-size: 16px;
}

p.disclaimer {
    text-align: center;
    margin: 0 20px;
    color: white;
}
div.disclaimer{
    background-color: #333;
    padding: 20px;
    padding-bottom: 50px;
}
/* NAV BAR */
header {}


/* TITLE */
.headingLine {
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #ffcc00;
    line-height: 0.1em;
    margin: 10px 0 20px;
    padding-top: 40px;
}

h1 span {
    background: #fff;
    padding: 0 10px;
}



.nav_container {
    /*    padding: 10px;*/
    /*    align-content: center;*/
    align-items: center;
    /*    text-align: center;*/
    /*  background-color: yellow;*/
    background-color: #333;
    margin: auto;
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: block;

    /*
    padding-left: 100px;
    padding-right: 100px;
*/
}

.logo_container {
    padding-top: 15px;
    margin: auto;
    float: left;
    width: 20%;
    /*    padding-left: 250px;*/
    /*    text-align: center;*/
}

/*
.nav_list{
    width: 50%; 
}
*/
.logo {
    width: 200px;
    text-align: center;
    display: block;
}

nav {
    padding-top: 10px;
    /*    padding: 20px;*/
    /*    width: 100%;*/
    height: auto;
    /*    margin: 0 auto;*/
    list-style: none;
    /*    text-align: center;*/
    /*    background-color: #333;*/
    text-align: right;

}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-bottom: 10px;
    overflow: hidden;
    display: inline-block;
    /*    width: 80%;*/
    text-align: center;
    /*    background-color: aqua;*/
    /*    background-color: #333;*/
}

nav li {
    float: left;
    align-self: stretch;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    /*    align-self: stretch;*/
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    color: #ffcc00;
    background-color: #333;
}

/************ Slideshow **********/
* {
    box-sizing: border-box;
}



.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    display: inline-block;
    /*    display: block;*/
    max-width: 100000px;
    /*    position: inherit;*/
    /*    position: relative;*/
    margin: auto;
/*    height: 90%;*/

}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
/*
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
*/

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


.slideshow-container {
    width: 100%;
    height: auto;
    display: block;
}

.slide_image {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.banner_image {
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: cover;

}

.banner_image2 {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/*ABOUT PENANG STYPE*/
div h1 {
    text-align: center;
    text-decoration-color: gray;
    font-size: 50px;
}
ul.funfact{
    font-size: 20px;
    line-height: 30px;
}
/*GRID CSS*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /*  background-color: #2196F3;*/

}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

/*image collage*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/*Dropcap about Penang paragraph*/
.about_penang_text p:first-letter {
    float: left;
    font-size: 60px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

.about_penang_text p {
    font-size: 18px;
}


.about_penang_text_container {
    padding: 40px;
}






.about_penang_text {
    border-radius: 15px 50px 30px;
    background: #ffcc00;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 15px 5px grey;
}


/*ABOUT
PENANG PAGE*/


.parent_container {
    width: 100%;
    padding-top: 20px;
    padding: 50px;



}

.heading_text {
    text-align: left;
    font-size: 100px;
    font-weight: bold;
    float: left;
    background-color: white;
    padding: 0;
}




.about_penang_text_container_about_page :first-letter {
    clear: both;
    float: left;
    font-size: 1px;
    line-height: 100px;
    font-weight: bold;
    margin-right: 9px;
}

.about_penang_text_container_about_page {
    padding: 5%;
    clear: both;
    line-height: 30px;

}

/*
p.about_penang {
    margin-left: 20%;
    margin-right: 20%;
}
*/

/*Awards Page*/

figure.awardpage {
    text-align: center;
}



/****** THIS IS GENERAL STYLING ******/
.general-heading-style {
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #ffcc00;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: Raleway;
    padding-top: 40px;
}

.general-heading-style span {
    background: #fff;
    padding: 0 10px;
    font-size: 3.5vw;
}


.general-heading-style2 {
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #ffcc00;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: Raleway, sans-serif;
    padding-top: 40px;
}

.general-heading-style2 span {
    background: #fff;
    padding: 0 10px;
    font-size: 3vw;
}


.general-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}



.general-text-container {
    padding: 40px;
}


.general-text-content {
    border-radius: 15px 50px 30px;
    background: #ffcc00;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 15px 5px grey;
}

.general-text-content p {
    font-size: 20px;
    line-height: 30px
}


.button1 {
    background-color: #ffcc00;
    color: black;
    border: 2px solid black;
    font-family: Raleway, sans-serif;
    font-size: 15px;
     
}

.button1:hover {
    background-color: #4885ed;
    color: white;
}






/****** END OF GENERAL STYLING ******/







/*

Landmark
img.landmark {
    padding: 5px;
    width: 500px;
}

article.landmark {
    margin-left: 10%;
    margin-right: 10%;
}
*/

/*Feedback Form*/
form{
    font-family: Roboto, sans-serif;
}
div.container {
    background-color: white;
}

article.feedback {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

legend {
    font-size: 20px;
    color: black;
}

legend,
label {
    font-weight: bold;
}

fieldset {
    margin-bottom: 30px;
    border: 2px solid black;
}

td,
th {
    padding-right: 20px;
}

.slider {
    width: 100%;
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=submit] {
    background-color: #ffcc00;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #ffcc00;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*About Us*/
img.tourism {
    text-align: center;
    padding: 5px;
    width: 500px;
}

article.tourism {
    margin-left: 20%;
    margin-right: 20%;
}

/*Skyler Corp */

.members-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /*    background-color: #2196F3;*/
    padding: 10px;
}

.members-grid > div {
    /*    background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.image-member {
    position: relative;
    width: 55%;
/*    height: 20%;*/
    object-fit: cover;
    border-radius: 50%;
}

.member-name {
    font-size: 20px;
    font-weight: bold;
}

.member-description {
    font-size: 15px;
}

/*Table for About Penang*/
table.about_penang {
    margin: auto;
    text-align: center;
    border-collapse: collapse;

}

table.about_penang,
th.about_penang,
td.about_penang {
    border: 2px solid black;
}

th.about_penang,
td.about_penang {
    padding: 5px;
}

th.about_penang {
    background-color: #ffcc00;
    color: black;
}

td.about_penang {
    background-color: #222222;
    color: white;
}

/*All Footer RELATED PLEASE PUT HERE*/
footer h5 {
    color: black;
}


footer {
    background-color: #222222;
    text-align: center;
    overflow: auto;
    font-size: 20px;
}

.foot {
    font-size: 11px;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: auto;
}

.toes {
    font-size: 11px;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: auto;
}


.footer-grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 10px;
    padding: 10px;
}

.footer-grid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    display: inline-block;
}

.footeritem1 {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
}

.footeritem2 {
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
    list-style-type: disc;
    /*    padding: 10px;*/
}

footer a:hover {
    text-decoration: underline;
    color: #ffcc00;
}



footer p {
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.copyright{
    font-size: 15px;
    margin-bottom: 15px;
}
